.SLFE_Product32
{
	top:0px;
	left:0px;
}
.SLFE_Product16
{
	top:0px;
	left:0px;
}

.SLFE_FieldLevelPermissions32
{
	top:0px;
	left:-32px;
}
.SLFE_FieldLevelPermissions16
{
	top:0px;
	left:-16px;
}

.SLFE_FieldLevelConstraints32
{
	top:0px;
	left:-64px;
}
.SLFE_FieldLevelConstraints16
{
	top:0px;
	left:-32px;
}

.SLFE_FieldDefaults32
{
	top:0px;
	left:-96px;
}
.SLFE_FieldDefaults16
{
	top:0px;
	left:-48px;
}

.SLFE_FieldGroups32
{
	top:0px;
	left:-128px;
}
.SLFE_FieldGroups16
{
	top:0px;
	left:-64px;
}

.SLFE_ViewPermissions32
{
	top:0px;
	left:-160px;
}
.SLFE_ViewPermissions16
{
	top:0px;
	left:-80px;
}

.SLFE_ItemNavigation32
{
	top:0px;
	left:-192px;
}
.SLFE_ItemNavigation16
{
	top:0px;
	left:-96px;
}
.ms-infobar
        {
            border: 1px solid #999999;
            background-color:#edf0d9;
            font-family:Tahoma;
            font-size:11px;
        }
.ms-cui-cg-db.ms-cui-cg-s .ms-cui-ct-ul{background-color: white; 
border-color: white;
}
.ms-cui-cg.ms-cui-cg-db.ms-cui-cg-s{border-color: white; 
border-top-color:white;
}
.ms-cui-tt-a
{
    padding:0px;
	height:18px;
	font-weight:bold;
	vertical-align: middle;
	font-family:Arial;
	background-image:url(images/aeroCenterUnselected.png);
	height:28px;
    }
.ms-cui-tt-span
 {
	color:#336699;
 }
 .ccstest a
 {
     font-size:12px;
     background-image:url(images/aeroCenter.png);
 }
